*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-inline: 1rem;
}

.main {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.header-text {
  padding: 1.25rem 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h1 {
  color: #60be7e;
}

/* .form {
  margin-bottom: 1.5rem;
} */

form {
  display: flex;
  gap: 1rem;
}

.error-message {
  color: #eb695b;
}

.input {
  width: 600px;
  border: 1px solid #60be7e;
  height: 2rem;
  outline: none;
  padding-inline: 0.5rem;
}

.btn {
  width: 150px;
  height: 2rem;
  background-color: #60be7e;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.number_tile {
  width: 70px;
  background-color: #f7dc5c;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 39.9375em) {
  body,
  .form,
  .main,
  .input {
    width: 100%;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
